.header {
    display: flex;   
    justify-content: flex-end;
}

.header a {
    display: block;
    align-items: center;
    text-decoration: none;
}


.header .title-group {
    padding-left: 25px;
    display: inline-flex;
}

.header .title-group a{
    padding-right: 64px;
}

.container {
    display: block;
}

.search {
    position: absolute;
    right: 64px;    
}

.user {
    margin-left: auto;
    cursor: pointer;
}

.material-icons {
    vertical-align: middle;
}